<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.votingbulgariaapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingBulgariaApp"
        tools:targetApi="31">
        <activity
            android:name=".CurrentElections"
            android:exported="false" />
        <activity
            android:name=".VotingMainMenu"
            android:exported="false" />
        <activity
            android:name=".LogInEnterSecurityCodes"
            android:exported="false" />
        <activity
            android:name=".LogInCredentials"
            android:exported="false" />
        <activity
            android:name=".ui.login.LogInWithCredentials"
            android:exported="false"
            android:label="@string/title_activity_log_in_with_credentials" />
        <activity
            android:name=".SignInAuthentication"
            android:exported="false" />
        <activity
            android:name=".SignInExtraData"
            android:exported="false" />
        <activity
            android:name=".SignInPhoto"
            android:exported="false" />
        <activity
            android:name=".SignInID"
            android:exported="false" />
        <activity
            android:name=".SignInPersonalDocuments"
            android:exported="false" />
        <activity
            android:name=".SignInNames"
            android:exported="false" />
        <activity
            android:name=".SignInActivityNames"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivityPersonalData"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>